<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jinke.driverhealth">
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 通讯录 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" /> <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 读写文件权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" /> <!-- <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" /> -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- LE Beacons位置相关权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 蓝牙模块 设置为true表示只有支持蓝牙的手机才能安装 -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" /> <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 如果设置了target >= 28 如果需要启动后台定位则必须声明这个权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 如果您的应用需要后台定位权限，且有可能运行在Android Q设备上,并且设置了target>28，必须增加这个权限声明 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- 联系人 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".DHapplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon180"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon180"
        android:supportsRtl="true"
        android:theme="@style/Theme.DriverHealth"
        tools:replace="android:icon">
        <activity android:name=".activity.us.waring.WaringTipsActivity"></activity>
        <activity android:name=".activity.us.contactus.ContactUsActivity" />
        <activity android:name=".activity.us.AboutUsActivity" />
        <activity android:name=".activity.feedback.AdviseActivity" />
        <activity android:name=".activity.user.UserInfoActivity" />
        <activity android:name=".activity.user.RegisterActivity" />
        <activity android:name=".activity.user.LoginActivity" />
        <activity android:name=".activity.step.StepActivity" />
        <activity android:name=".activity.report.ReportActivity" />
        <activity android:name=".activity.center.alcohol.AlcoholCenterActivity" />
        <activity android:name=".activity.center.temp.TempActivity" />
        <activity android:name=".activity.center.hr.HrActivity" />
        <activity android:name=".activity.center.CenterActivity" />
        <activity android:name=".activity.center.bp.BpActivity" />
        <activity android:name=".activity.consult.history.HistoryQuestionActivity" />
        <activity android:name=".activity.consult.make.MakeQuesActivity" />
        <activity android:name=".activity.consult.HealthConsultActivity" />
        <activity android:name=".activity.contactor.ContactorActivity" />


        <meta-data android:name="com.amap.api.v2.apikey" android:value="65d0e1875c70e8d693ef2a8f0e5c417d" ></meta-data>
        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".activity.alcohol.AlcoholActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>