<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jinke.driverhealth">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_MEDIA_STORAGE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- 网络权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".DHapplication"
        android:allowBackup="true"
        android:icon="@mipmap/app01"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app01"
        android:supportsRtl="true"
        android:theme="@style/Theme.DriverHealth"
        tools:replace="android:icon">


        <activity
            android:name=".activity.report.WebActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.us.waring.WaringTipsActivity" />
        <activity android:name=".activity.us.contactus.ContactUsActivity" />
        <activity android:name=".activity.us.AboutUsActivity" />
        <activity android:name=".activity.feedback.AdviseActivity" />
        <activity android:name=".activity.user.UserInfoActivity" />
        <activity android:name=".activity.user.RegisterActivity" />
        <activity android:name=".activity.user.LoginActivity" />
        <activity android:name=".activity.step.StepActivity" />
        <activity android:name=".activity.report.ReportActivity" />
        <activity android:name=".activity.center.alcohol.AlcoholCenterActivity" />
        <activity android:name=".activity.center.temp.TempActivity" />
        <activity android:name=".activity.center.hr.HrActivity" />
        <activity android:name=".activity.center.CenterActivity" />
        <activity android:name=".activity.center.bp.BpActivity" />
        <activity android:name=".activity.consult.history.HistoryQuestionActivity" />
        <activity android:name=".activity.consult.make.MakeQuesActivity" />
        <activity android:name=".activity.consult.HealthConsultActivity" />
        <activity android:name=".activity.contactor.ContactorActivity" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="65d0e1875c70e8d693ef2a8f0e5c417d" />

        <service android:name="com.amap.api.location.APSService" /> <!-- 支持level 28以上编译 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".activity.alcohol.AlcoholActivity" />
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="true" />
    </application>

</manifest>